<html style="background-color: deepskyblue;">
    <title>Login Page</title>
<body>
    <h1 style="display: flex;justify-content: flex-start;">Login</h1>
    <form action = 'login_check/' method="post" >
        {% csrf_token %}
        User ID:
        <input type="text" name="UID">
        <br><br>
        Password:
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Submit">
    </form> 
    <a href="register/">Register</a>
</body>
</html>