<html>
    <title>Update creds</title>
    <body>
        <h2>Update creds</h2>
        <form action="updatecreds/{{mymembers.name}}",method='post'>
            {% csrf_token %}
            Name:
            <input type="text" name = "Name" value="{{mymember.name}}">
            <br><br>
            Username:
            <input type="text" name = "uid" value="{{mymember.u_id}}">
            <br><br>
            Email ID: 
            <input type="email" name = "email" value="{{mymember.Email}}">
            <br><br>
            Department: {{mymember.dept}}
            <br><br>
            Password:
            <input type="password" name = "password", value="{{mymember.password}}">
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>